.Checkout-success-page {
  height: 100vh;
  max-width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Checkout-success-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  background-color: black;
  min-width: 600px;
  max-width: 80vw;
  min-height: 600px;
  max-height: 80vh;
}

.checkout-text {
  text-align: center;
}

.tick-icon {
  width: 5rem;
  height: 5rem;
}

.Continue-Browsing-btn {
  width: 12rem;
  height: 3rem;
  border-radius: 1rem;
  background-color: #9747ff;
}
