.img-bg-box-Product-2 {
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-width: 600px;
  height: 50rem;
}

.box-wrapper-Product-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10rem;
}

.img-box-Product-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 900px;
  position: relative;
}

.TS4-img-Product-Page-2 {
  width: 350px;
  height: 500px;
  opacity: 0.6;
}

.Product-2-text-box {
  display: flex;
  flex-direction: column;
  color: white;
  height: 360px;
  width: 290px;
  position: absolute;
}

.Buy-btn-Product-2,
.View-btn-Product-2 {
  border-color: white;
  border-radius: 10px 10px;
  height: 2.5rem;
  width: 10rem;
  font-size: 1rem;
}

.View-btn-Product-2 {
  height: 2rem;
  width: 8rem;
  margin-top: 1rem;
}

.Btn-box-Product-2 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 300px;
}

.Film-text-Product-Page-2 {
  font-size: 1.2rem;
}

.TS4-span {
  font-weight: bold;
  font-size: 2rem;
}
