/* ABOUT US PAGE */

.About-Us {
  height: 50rem;
}

.h1-about {
  display: flex;
  flex-direction: row;
  width: 180px;
  justify-content: end;
}

.Header-text-box {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.Header-text-box p {
  font-size: 1.3rem;
}

.About-img-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 43rem;
}

.About-img {
  width: 30rem;
}

.P-About-box {
  display: flex;
  flex-direction: row;
  max-width: 765px;
  justify-content: center;
}
