@import url(SquareEyes-Film-Page.css);
@import url(SquareEyes-About-Us-Page.css);
@import url(SquareEyes-Contact-Page.css);

/* VARIABLES */

:root {
  --Linear-Purple-Color: linear-gradient(180deg, #aa47ff 0%, #0f3b70 100%);
  --Base-Blue-Color: #0f3b70;
  --White-Text-Color: #ffffff;
  --Primary-Font: "Amaranth", "open sans";
}

/* GLOBAL STYLES */

.The-Batman-img,
.The-Batman-img-box,
footer,
.Container-1,
.Container-2,
.Container-3,
.Container-4,
.All-films-box,
.square-eyes-logo-box,
header {
  width: 100%;
  max-width: 900px;
  position: relative;
}

.Container-1,
.Container-4 {
  background: var(--Linear-Purple-Color);
}

.h1-home,
.h2-home,
.h2-home-box,
.WN-box,
.Watch-now,
.SquareEyes-logo,
.square-eyes-logo-box,
.Search-Cart-box {
  position: static;
}

.Container-1,
.Search-Cart-box,
.square-eyes-logo-box,
.WN-box,
.SMI-imgs-box,
.footer-links-box,
.CR-text-box,
.h1-Films,
.h2-Films {
  display: flex;
  flex-direction: row;
}

#hamburger,
#mobile-checkbox,
#mobile-checkbox:checked ~ nav {
  display: none;
}

.h1-home,
.h2-home,
.h1-Films,
.h2-Films {
  color: var(--White-Text-Color);
  font-family: var(--Primary-Font);
}

.active-page {
  background-color: #6a6a6a;
  border: none;
}

/* HEADER & NAV */

.Container-1 {
  align-content: center;
  justify-content: center;
  column-gap: 4rem;
  padding-bottom: 1rem;
}

.SquareEyes-logo {
  max-width: 9rem;
  max-height: 8rem;
  filter: drop-shadow(0.1rem 0.1rem white);
  margin-left: 1rem;
  justify-self: flex-start;
  justify-content: center;
  align-self: center;
  width: 100%;
}

nav {
  display: inline-flex;
  flex-direction: row;
  max-width: 360px;
  position: static;
  align-self: center;
  justify-content: center;
  white-space: nowrap;
  margin-left: 3rem;
  margin-top: 1rem;
  z-index: 9;
}

nav a {
  display: inline-flex;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 1rem 2rem 1rem 2rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
  border: 1px solid black;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
  white-space: nowrap;
}

.Search-Cart-box {
  align-items: center;
  justify-content: flex-end;
  height: 72px;
  gap: 1rem;
  width: 100%;
}

.search-icon,
.cart-icon {
  max-width: 4rem;
  max-height: 4rem;
  align-self: end;
}

/* HOME PAGE */

.The-Batman-img-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: "H11 H12 H13 H14";
  overflow-x: hidden;
}

.The-Batman-img {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.h1-home {
  grid-area: H11;
  z-index: 20;
  font-size: 1.5rem;
  width: 300px;
  max-height: 20px;
  font-style: italic;
}

.h2-home-box {
  grid-area: H11;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 200px;
  width: 350px;
}
.h2-home {
  grid-area: H11;
  font-size: 3rem;
  z-index: 8;
  display: flex;
  flex-direction: row;
  width: 300px;
  align-self: flex-end;
}

.films {
  color: #e6ff4b;
}

.WN-box {
  grid-area: H12;
  justify-content: center;
  align-items: start;
  width: 800px;
}

.Watch-now {
  grid-area: H12;
  color: #e6ff4b;
  text-decoration: none;
  font-size: 2.8rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.31410984848484846) 40%
  );
  border: 0.1px black;
  border-radius: 10rem 10rem 10rem 10rem;
  padding: 50px 5px 50px 5px;
  filter: drop-shadow(0rem 0.5rem rgb(0, 0, 0));
  transform: rotate(-10deg);
  z-index: 20;
  height: 260px;
  width: 260px;
}

.Container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "Title Gap"
    "Carousel Carousel";
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--Base-Blue-Color);
  height: 700px;
  overflow-y: hidden;
  overflow-x: hidden;
}

h3 {
  grid-area: Title;
  color: white;
  font-family: "Amaranth", sans-serif;
  font-size: 2rem;
  margin-left: 1rem;
  position: relative;
}

.carousel {
  grid-area: Carousel;
  width: 100%;
  display: flex;
  position: relative;
  margin-left: -0.5rem;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
}

.carousel img {
  max-width: 15rem;
  margin-left: 0.7rem;
  filter: drop-shadow(0.7rem 0.7rem black);
  overflow-y: hidden;
}

.Right-chevron-box {
  display: none;
}

/* FOOTER */

.Container-4 {
  max-height: 240px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.footer-content-box {
  height: 20rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-content: center;
  width: 100%;
  max-height: 50rem;
}

.SMI-imgs-box {
  width: 100%;
  justify-content: center;
}

footer img {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.footer-links-box {
  justify-content: center;
  width: 100%;
}

.Footer-Links a {
  font-size: 0.5rem;
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

.line {
  margin-left: 0.2rem;
}

.CR-text-box {
  max-width: 870px;
  justify-content: flex-end;
  width: 100%;
  color: white;
}

/* Small Screen MOBILE MEDIA QUERIES */

@media (max-width: 500px) {
  .The-Batman-img,
  .The-Batman-img-box,
  .h2-home-box,
  .h1-home,
  footer,
  .Container-4,
  .Container-1,
  .Container-2,
  .Container-3,
  .WN-box,
  header,
  .All-films-box,
  .All-films-imgs-box {
    width: 100%;
    max-width: 240px;
    position: relative;
  }

  .Container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: "Hamburger Logo Search-Cart";
    grid-gap: 1rem;
    max-height: 2rem;
    justify-items: center;
  }

  .square-eyes-logo-box {
    justify-content: flex-end;
    width: 100px;
  }

  .SquareEyes-logo {
    grid-area: Logo;
    max-width: 60px;
    width: 100%;
    margin-top: 0.5rem;
    position: static;
    align-self: center;
    justify-self: end;
  }

  nav {
    display: none;
    width: 8rem;
    background-color: black;
    position: absolute;
    margin-top: 3rem;
    margin-left: -8.7rem;
    max-width: 50px;
    max-height: 20px;
    width: 100%;
  }

  nav a {
    display: block;
    justify-content: center;
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 0;
    text-align: center;
    width: 100%;
    height: 40px;
    font-size: 1rem;
    position: static;
    z-index: 9;
  }

  nav a:hover {
    border: 4px solid purple;
  }

  #hamburger {
    grid-area: Hamburger;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 1rem;
    position: static;
    align-self: center;
    margin-left: 2rem;
  }

  #mobile-checkbox {
    display: none;
  }

  #mobile-checkbox:checked ~ nav {
    display: block;
  }

  .Search-Cart-box {
    grid-area: Search-Cart;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    justify-content: flex-start;
    height: 50px;
    width: 90px;
    column-gap: 5px;
    position: static;
  }

  .search-icon,
  .cart-icon {
    max-width: 3rem;
    max-height: 2rem;
    align-self: flex-end;
    position: static;
  }

  .h1-home {
    font-size: 0.5rem;
    margin: 0px;
    z-index: 8;
  }

  .The-Batman-img-box {
    width: 100%;
    grid-template-columns: 3fr, auto, auto, auto;
  }

  .h2-home-box {
    grid-area: H11;
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 90px;
    position: static;
  }

  .h2-home {
    grid-area: H11;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    column-span: 2;
    align-content: start;
    align-items: start;
    height: 50px;
  }

  .WN-box {
    grid-area: H11;
    display: flex;
    flex-direction: row;
    width: 218px;
    justify-content: flex-end;
    position: static;
  }

  .Watch-now {
    grid-area: H11;
    height: 80px;
    width: 80px;
    padding: 30px 4px 30px 4px;
    filter: drop-shadow(0rem 0.2rem rgb(0, 0, 0));
    font-size: 0.6rem;
    position: static;
  }

  .Container-3 {
    height: 200px;
    z-index: 8;
    position: relative;
  }

  .carousel {
    overflow-x: hidden;
    overflow-y: hidden;
    overscroll-behavior-inline: none;
    z-index: 9;
    width: 300px;
    position: relative;
  }

  .carousel img {
    max-width: 3.6rem;
    margin-left: 0.2rem;
    filter: drop-shadow(0.2rem 0.2rem black);
    overflow-y: hidden;
    position: relative;
    z-index: 8;
  }

  .Right-chevron {
    width: 100px;
    height: 80px;
  }

  .Right-chevron-box {
    height: 100px;
    display: flex;
    flex-direction: column;
    z-index: 7;
    margin-top: -5rem;
    margin-left: 1rem;
  }

  .Dark {
    margin-left: 0.2rem;
  }

  .Fun-Treasure {
    margin-left: -0.3rem;
  }

  .h3-home {
    font-size: 1rem;
  }

  .Footer-Links a {
    font-size: 0.5rem;
    color: white;
    text-decoration: none;
  }

  .Container-4,
  footer {
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 110px;
  }

  .footer-content-box {
    height: 10rem;
    max-height: 10rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  footer img {
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
  }

  .CR-text-box p {
    font-size: 0.3rem;
  }

  .CR-text-box {
    max-width: 230px;
    justify-self: flex-end;
  }

  /* FILMS PAGE */

  .All-films-imgs {
    grid-gap: 0rem;
    width: 200px;
  }

  .All-films-poster {
    width: 50px;
    height: 80px;
    filter: drop-shadow(0.2rem 0.3rem black);
  }
}

/* LARGE SCREEN MOBILE MEDIA QUERIES */

@media (min-width: 501px) and (max-width: 700px) {
  .The-Batman-img,
  .The-Batman-img-box,
  footer,
  .Container-4,
  .Container-1,
  .Container-2,
  .Container-3,
  .square-eyes-logo-box,
  .WN-box,
  header,
  .All-films-box,
  .All-films-imgs-box {
    width: 100%;
    max-width: 500px;
    position: relative;
  }

  .Container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: "Hamburger Logo Search-Cart";
  }

  .square-eyes-logo-box {
    width: 160px;
    justify-content: flex-end;
  }

  .SquareEyes-logo {
    grid-area: Logo;
    max-width: 100px;
    width: 100%;
    margin-top: 0.5rem;
    position: static;
  }

  nav {
    display: none;
    width: 8rem;
    background-color: black;
    position: absolute;
    margin-top: 5rem;
    margin-left: -15.5rem;
    max-width: 90px;
    max-height: 50px;
    width: 100%;
    z-index: 9;
  }

  nav a {
    display: block;
    justify-content: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0;
    text-align: center;
    width: 100%;
    height: 40px;
    font-size: 1.5rem;
    position: relative;
  }

  nav a:hover {
    border: 4px solid purple;
  }

  #hamburger {
    grid-area: Hamburger;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 1rem;
    position: static;
    align-self: center;
    justify-self: center;
  }

  #mobile-checkbox {
    display: none;
  }

  #mobile-checkbox:checked ~ nav {
    display: block;
  }

  .Search-Cart-box {
    grid-area: Search-Cart;
    display: flex;
    flex-direction: row;
    width: 115px;
    align-content: center;
    justify-content: start;
    justify-self: flex-end;
    column-gap: 10px;
    gap: 30px;
    margin-top: 1rem;
    position: static;
  }

  .search-icon,
  .cart-icon {
    max-width: 3rem;
    max-height: 2rem;
    align-self: center;
  }

  .h1-home {
    font-size: 0.7rem;
    margin: 0px;
    z-index: 8;
  }

  .The-Batman-img-box {
    grid-template-columns: 1fr 3fr auto auto;
    overflow-x: hidden;
  }

  .h2-home-box {
    grid-area: H11;
    display: flex;
    flex-direction: row;
    width: 190px;
    height: 110px;
    position: static;
  }

  .h2-home {
    grid-area: H11;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    column-span: 2;
    justify-content: center;
    align-content: start;
    align-items: center;
  }

  .WN-box {
    grid-area: H12;
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 180px;
    align-self: center;
    position: static;
  }

  .Watch-now {
    grid-area: H12;
    height: 100px;
    width: 100px;
    padding: 45px 5px 50px 5px;
    filter: drop-shadow(0rem 0.3rem rgb(0, 0, 0));
    font-size: 0.8rem;
    justify-self: flex-end;
    position: static;
  }

  .Container-3 {
    height: 400px;
  }

  .h3-home {
    font-size: 1.3rem;
  }

  .carousel img {
    max-width: 8rem;
  }

  .Footer-Links a {
    font-size: 0.7rem;
    color: white;
    text-decoration: none;
  }

  footer,
  .Container-4 {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .Container-4 {
    max-height: 140px;
  }

  .footer-content-box {
    max-height: 10rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  footer img {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
  }

  .CR-text-box p {
    font-size: 0.7rem;
  }

  .CR-text-box {
    max-width: 480px;
    justify-content: flex-end;
    align-items: end;
    height: 62px;
    width: 100%;
  }

  /* FILMS PAGE */

  .All-films-imgs {
    grid-gap: 0rem;
    width: 10px;
  }

  .All-films-poster {
    width: 20px;
    height: 20px;
  }
}

/* TABLET MEDIA QUERIES */

@media (min-width: 701px) and (max-width: 900px) {
  .The-Batman-img,
  .The-Batman-img-box,
  footer,
  .square-eyes-logo-box,
  .Container-1,
  .Container-4,
  .Container-2,
  .Container-3,
  header,
  nav,
  .All-films-box,
  .All-films-imgs-box {
    width: 100%;
    max-width: 700px;
  }

  .Container-1 {
    align-items: center;
    justify-content: start;
  }

  .SquareEyes-logo {
    max-width: 100px;
    width: 100%;
    margin-top: 0.5rem;
  }

  nav {
    position: static;
    justify-content: start;
    margin-left: 0;
  }

  nav a {
    padding: 1rem 1rem;
    font-size: 1rem;
  }

  .search-icon,
  .cart-icon {
    max-width: 3rem;
    max-height: 2rem;
  }

  .Search-Cart-box {
    column-gap: 20px;
    justify-items: flex-start;
    justify-content: flex-start;
    height: 50px;
    width: 1000px;
    column-gap: 40px;
    position: static;
  }

  .h1-home {
    font-size: 1rem;
  }

  .The-Batman-img-box {
    width: 100%;
    grid-template-columns: 1fr 3fr auto auto;
  }

  .WN-box {
    grid-area: H12;
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 200px;
    justify-content: end;
    align-items: center;
    position: static;
    justify-self: center;
  }

  .Watch-now {
    grid-area: H12;
    height: 130px;
    width: 130px;
    padding: 60px 8px 60px 8px;
    filter: drop-shadow(0rem 0.3rem rgb(0, 0, 0));
    font-size: 1rem;
    position: static;
  }

  .h2-home-box {
    grid-area: H11;
    display: flex;
    flex-direction: row;
    width: 310px;
    height: 200px;
    position: static;
  }

  .h2-home {
    grid-area: H11;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    column-span: 2;
    justify-content: center;
    align-content: start;
    align-items: center;
  }

  .CR-text-box {
    max-width: 680px;
    justify-content: flex-end;
    width: 100%;
    color: white;
  }
}
