@import url(SquareEyes.css);

/* VARIABLES */

:root {
  --Linear-Purple-Color: linear-gradient(180deg, #aa47ff 0%, #0f3b70 100%);
  --Base-Blue-Color: #0f3b70;
  --White-Text-Color: #ffffff;
  --Primary-Font: "Amaranth", "open sans";
  --Secondary-Font: "Open Sans", "sans-serif";
}

.All-films-box,
.Films-Categories-box {
  background-color: var(--Base-Blue-Color);
}

.header-films-page {
  color: var(--White-Text-Color);
  font-family: var(--Primary-Font);
  font-size: 1.5rem;
}

/* FILMS PAGE */

body {
  overflow-y: scroll;
}

#h1-Films {
  display: flex;
  max-width: 120px;
  justify-content: flex-end;
  margin-top: 0;
}

#h2-Films {
  display: flex;
  justify-content: center;
}

.All-films-box {
  height: 800px;
}

.All-films-images-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 485px;
  width: 100%;
}

.All-films-images {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 0.2rem;
  width: 400px;
}

.Films-Categories-box {
  max-height: 300px;
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(10, auto);
  grid-template-areas:
    "a a a"
    "b c d"
    "e e e"
    "f g h"
    "i i i"
    "q r s"
    "t t t"
    "w x y"
    "z z z"
    "u v v";
  z-index: 9;
  position: relative;
  overflow-y: hidden;
  overflow: scroll;
}

#header-Films-horror {
  grid-area: a;
  display: flex;
  justify-content: center;
}

#Horror-film-img {
  grid-area: b;
  justify-self: center;
}

#header-Films-Family {
  grid-area: e;
  justify-self: center;
}

#Family-film-img {
  grid-area: f;
  justify-self: center;
}

#h4-Films {
  grid-area: i;
  justify-self: center;
}

#Action-film-img1 {
  grid-area: q;
  justify-self: center;
}

#Action-film-img2 {
  grid-area: r;
  justify-self: center;
}

#Action-film-img3 {
  grid-area: s;
  justify-self: center;
}

#h5-Films {
  grid-area: t;
  justify-self: center;
}

#Thriller-film-img {
  grid-area: w;
  justify-self: center;
}

#h6-Films {
  grid-area: z;
  justify-self: center;
}

#Comedy-film-img {
  grid-area: u;
  justify-self: center;
}

.All-films-poster,
.Films-Categories-img {
  width: 200px;
  height: 300px;
  filter: drop-shadow(0.2rem 0.2rem black);
}
